#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background: #4e75ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}

.arrow-up {
    font-size: xx-large;
    position: absolute;
    right: 11px;
    top: 5px;
}

#scrollToTopBtn:hover {
    background-color: #6c8cff; 

}